/* Task App styles */
.task-header {
  display: flex;
  justify-content: center;
}

.cat-pic {
  height: 90px;
  width: 90px;
}

/* Task Filter styles */
.task-filter {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.task-filter-types {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.task-filter-types > li {
  margin-right: 18px;
  cursor: pointer;
}

.task-filter-types > li:hover {
  text-decoration: underline;
}

.high-priority,
.complete,
.incomplete,
.all {
  font-weight: bold;
}

/* Task Form styles */
.task-form {
  display: flex;
  justify-content: center;
}

.task-form > button {
  background-color: lightgray;
  margin-left: 18px;
  margin-top: 6px;
  text-transform: none;
}

.task-form > button:hover {
  background-color: gray;
}

/* Task List Styles */
.task-wrapper > ul {
  display: flex;
  flex-direction: column;
}

.MuiListItem-root.MuiListItem-gutters {
  justify-content: center;
}
