/* Task App styles */
.task-header {
  display: flex;
  justify-content: center;
}

.MuiTypography-h2 {
  color: rgb(229, 142, 53, 0.7);
}

.cat-pic {
  height: 90px;
  width: 90px;
}

/* Task Filter styles */
.task-filter {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.MuiTypography-h6 {
  color: rgb(221, 81, 126);
}

.MuiList-root {
  display: flex;
  justify-content: center;
}

.MuiList-root .MuiListItem-root {
  width: initial;
}

.MuiListItem-root {
  margin-right: 18px;
  cursor: pointer;
  color: rgb(221, 81, 126, 0.8);
}

.MuiListItem-root:hover {
  text-decoration: underline;
}

.high-priority > div > span,
.complete > div > span,
.incomplete > div > span,
.all > div > span {
  font-weight: bold;
  color: rgb(221, 81, 126);
}

/* Task Form styles */
.task-form {
  display: flex;
  justify-content: center;
}

.task-form .MuiFormLabel-root {
  color: rgb(85, 108, 201);
}

.task-form .MuiInput-underline:before {
  border-bottom: 1px solid rgb(85, 108, 201);

}

.task-form .MuiButtonBase-root {
  background-color: rgb(70, 30, 82, 0.2);
  color: rgb(85, 108, 201);
  margin-top: 12px;
  text-transform: none;
}

.task-form .MuiButtonBase-root:hover {
  background-color: rgb(70, 30, 82, 0.3);
}

/* Task List Styles */
.task-wrapper > ul {
  display: flex;
  flex-direction: column;
}

.MuiListItem-root.MuiListItem-gutters {
  justify-content: center;
}
