.nav-background {
  background: hsla(286, 46%, 22%, 1);
  background: linear-gradient(135deg, hsla(286, 46%, 22%, 0.5) 0%, hsla(341, 67%, 59%, 0.8) 43%, hsla(30, 77%, 55%, 0.8) 100%);
  background: -moz-linear-gradient(135deg, hsla(286, 46%, 22%, 0.5) 0%, hsla(341, 67%, 59%, 0.8) 43%, hsla(30, 77%, 55%, 0.8) 100%);
  background: -webkit-linear-gradient(135deg, hsla(286, 46%, 22%, 0.5) 0%, hsla(341, 67%, 59%, 0.8) 43%, hsla(30, 77%, 55%, 0.8) 100%);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#461E52", endColorstr="#DD517E", GradientType=1 );
}

.circle {
  /* background-color: black; */
  border-radius: 50%;
  height: 105px;
  width: 105px;
  position: absolute;
  top: -2rem;
  left: -2rem;
}

.line-start {
  /* background-color: black; */
  width: 60%;
  height: 40px;
  display: inline-block;
  position: absolute;
  top: 0;
}

.diagonal {
  border-top: 70px solid black;
  border-left: 50px solid transparent;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 55%;
  height: 0;
  width: 40%;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  margin-top: .75rem;
  margin-right: 1rem;
}

.navigation > a {
  margin-right: 1rem;
  padding-bottom: .25rem;
  align-self: center;
  text-decoration: none;
  font-size: 18px;
}

.active-link {
  border-bottom: 2px solid cornflowerblue;
}