/* TODO App styles */
.todo-wrapper {
  background: rgba(117, 241, 244, 0.527);
}

.todo-header {
  display: flex;
  justify-content: center;
}

.cat-pic {
  height: 90px;
  width: 90px;
}

/* TODO Filter styles */
.todo-filter {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.todo-filter-types {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.todo-filter-types > li {
  margin-right: 18px;
  cursor: pointer;
}

.todo-filter-types > li:hover {
  text-decoration: underline;
}

/* TODO Form styles */
.todo-form {
  display: flex;
  justify-content: center;
}

.todo-form > button {
  background-color: lightgray;
  margin-left: 18px;
  margin-top: 6px;
  text-transform: none;
}

.todo-form > button:hover {
  background-color: gray;
}

/* TODO List Styles */
.todo-wrapper > ul {
  display: flex;
  flex-direction: column;
}

.MuiListItem-root.MuiListItem-gutters {
  justify-content: center;
}
