html {
  overflow: scroll;
  overflow-x: hidden;
}
/* Be sure to test / update so that this experience is the same across all browsers */
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Make scrollbar invisible */
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
